<div class="center jumbotron">
    <h1>Welcome to Idealer!</h1>
    <h2>You can save and expand your ideas!</h2>

    <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign in!", '#', class: "btn btn-lg btn-primary" %>
</div>
