<li id="idea-<%= idea.id %>">
    <span class="user"><%= link_to idea.user.name, idea.user %></span>
    <span class="content"><%= idea.content %></span>
    <span class="suit"><%= idea.suit %></span>
</li>
